<div class="row text-center">
  <div class="col">
    <p class="h4">Agendamento para o teste rápido da COVID-19 em Joinville</p>
  </div>
</div>

<div class="alert alert-danger mb-5 mt-5" role="alert">
  <h1 class="mb-0" style="text-align: center;">
    AGENDAMENTO INDISPONÍVEL
  </h1>
  <h4 class="mt-3" style="text-align: center;">
    Prezado usuário, neste momento o agendamento de testes rápidos para pacientes sem sintomas gripais está indisponível.
    Os testes continuarão a ser realizados por demanda espontânea nas Unidades Básicas de Saúde.
    Neste momento apenas os pacientes <strong>com sintomas gripais</strong> serão atendidos no Centro de Tratamento Precoce da Tupy.
  </h4>
</div>

<div class="row text-center mt-5 mb-5">
  <div class="col">
    <img src=<%= image_path('protocolo_orientacao_covid.jpeg') %> class="comm-img" />
  </div>
</div>

<div class="row text-center mt-5 mb-5">
  <div class="col">
    <small class="text-muted">Para mais informações sobre a COVID-19 no município, acesse:<br>
    <a href="https://www.joinville.sc.gov.br/coronavirus/">https://www.joinville.sc.gov.br/coronavirus/</a></small>
  </div>
</div>

<style type="text/css">
  @media only screen and (min-width: 600px) {
    .disk-health-banner {
      width: 80%;
    }
  }

  @media only screen and (max-width: 600px) {
    .disk-health-banner {
      width: 100%;
    }
  }
</style>
